<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>all.com</string>
    <key>CFBundleShortVersionString</key>
    <string>4.3.1</string>
    <key>CFBundleGetInfoString</key>
    <string>4.3.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>all.com.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>com.all.launcher.Main</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/7Zip.jar</string>
        <string>$JAVAROOT/activation.jar</string>
        <string>$JAVAROOT/antlr.jar</string>
        <string>$JAVAROOT/aopalliance.jar</string>
        <string>$JAVAROOT/appControl.jar</string>
        <string>$JAVAROOT/bcpg-jdk16.jar</string>
        <string>$JAVAROOT/bcprov-jdk16.jar</string>
        <string>$JAVAROOT/browser-mozilla.jar</string>
        <string>$JAVAROOT/cal10n-api.jar</string>
        <string>$JAVAROOT/chat-manager.jar</string>
        <string>$JAVAROOT/chat-xmpp.jar</string>
        <string>$JAVAROOT/chat.jar</string>
        <string>$JAVAROOT/client-commons.jar</string>
        <string>$JAVAROOT/client-services.jar</string>
        <string>$JAVAROOT/client-view.jar</string>
        <string>$JAVAROOT/client.jar</string>
        <string>$JAVAROOT/commons-beanutils.jar</string>
        <string>$JAVAROOT/commons-codec.jar</string>
        <string>$JAVAROOT/commons-collections.jar</string>
        <string>$JAVAROOT/commons-dbcp.jar</string>
        <string>$JAVAROOT/commons-httpclient.jar</string>
        <string>$JAVAROOT/commons-io.jar</string>
        <string>$JAVAROOT/commons-lang.jar</string>
        <string>$JAVAROOT/commons-logging.jar</string>
        <string>$JAVAROOT/commons-pool.jar</string>
        <string>$JAVAROOT/commons.jar</string>
        <string>$JAVAROOT/detectdevices.jar</string>
        <string>$JAVAROOT/dom4j.jar</string>
        <string>$JAVAROOT/download-manager.jar</string>
        <string>$JAVAROOT/downloader-lan.jar</string>
        <string>$JAVAROOT/downloader-rest.jar</string>
        <string>$JAVAROOT/downloader.jar</string>
        <string>$JAVAROOT/ehcache-core.jar</string>
        <string>$JAVAROOT/ehcache-spring-annotations.jar</string>
        <string>$JAVAROOT/external.jar</string>
        <string>$JAVAROOT/ezmorph.jar</string>
        <string>$JAVAROOT/facebook.jar</string>
        <string>$JAVAROOT/filters.jar</string>
        <string>$JAVAROOT/freetts.jar</string>
        <string>$JAVAROOT/hibernate-annotations.jar</string>
        <string>$JAVAROOT/hibernate-commons-annotations.jar</string>
        <string>$JAVAROOT/hibernate-core.jar</string>
        <string>$JAVAROOT/hibernate-jpa-2.0-api.jar</string>
        <string>$JAVAROOT/hibernate-validator.jar</string>
        <string>$JAVAROOT/hipecotech.jar</string>
        <string>$JAVAROOT/hsqldb.jar</string>
        <string>$JAVAROOT/httpclient.jar</string>
        <string>$JAVAROOT/httpcore.jar</string>
        <string>$JAVAROOT/ipod.jar</string>
        <string>$JAVAROOT/jasypt.jar</string>
        <string>$JAVAROOT/jaudiotagger.jar</string>
        <string>$JAVAROOT/javassist.jar</string>
        <string>$JAVAROOT/jaxb-api.jar</string>
        <string>$JAVAROOT/jaxb-impl.jar</string>
        <string>$JAVAROOT/jfolderchooser.jar</string>
        <string>$JAVAROOT/jmc.jar</string>
        <string>$JAVAROOT/jna.jar</string>
        <string>$JAVAROOT/json-lib.jar</string>
        <string>$JAVAROOT/jta.jar</string>
        <string>$JAVAROOT/junit.jar</string>
        <string>$JAVAROOT/jxlayer.jar</string>
        <string>$JAVAROOT/launcher.jar</string>
        <string>$JAVAROOT/log4j.jar</string>
        <string>$JAVAROOT/logback-classic.jar</string>
        <string>$JAVAROOT/logback-core.jar</string>
        <string>$JAVAROOT/login.jar</string>
        <string>$JAVAROOT/mc-manager.jar</string>
        <string>$JAVAROOT/messengine.jar</string>
        <string>$JAVAROOT/miglayout.jar</string>
        <string>$JAVAROOT/mina-core.jar</string>
        <string>$JAVAROOT/model.jar</string>
        <string>$JAVAROOT/mozdom4java.jar</string>
        <string>$JAVAROOT/mozillaglue.jar</string>
        <string>$JAVAROOT/mozillainterfaces.jar</string>
        <string>$JAVAROOT/mozswing.jar</string>
        <string>$JAVAROOT/mrjadapter.jar</string>
        <string>$JAVAROOT/music-player.jar</string>
        <string>$JAVAROOT/networking.jar</string>
        <string>$JAVAROOT/Phex.jar</string>
        <string>$JAVAROOT/phexcore.jar</string>
        <string>$JAVAROOT/platform.jar</string>
        <string>$JAVAROOT/prefuse.jar</string>
        <string>$JAVAROOT/restfb.jar</string>
        <string>$JAVAROOT/shared.jar</string>
        <string>$JAVAROOT/slf4j-api.jar</string>
        <string>$JAVAROOT/slf4j-ext.jar</string>
        <string>$JAVAROOT/slf4j-jcl.jar</string>
        <string>$JAVAROOT/smack.jar</string>
        <string>$JAVAROOT/smackx.jar</string>
        <string>$JAVAROOT/speex.jar</string>
        <string>$JAVAROOT/spring-aop.jar</string>
        <string>$JAVAROOT/spring-asm.jar</string>
        <string>$JAVAROOT/spring-beans.jar</string>
        <string>$JAVAROOT/spring-context.jar</string>
        <string>$JAVAROOT/spring-core.jar</string>
        <string>$JAVAROOT/spring-expression.jar</string>
        <string>$JAVAROOT/spring-jdbc.jar</string>
        <string>$JAVAROOT/spring-orm.jar</string>
        <string>$JAVAROOT/spring-tx.jar</string>
        <string>$JAVAROOT/spring-web.jar</string>
        <string>$JAVAROOT/stax-api.jar</string>
        <string>$JAVAROOT/swing-worker.jar</string>
        <string>$JAVAROOT/swingx.jar</string>
        <string>$JAVAROOT/table-layout.jar</string>
        <string>$JAVAROOT/twitter.jar</string>
        <string>$JAVAROOT/twitter4j-core.jar</string>
        <string>$JAVAROOT/updater.jar</string>
        <string>$JAVAROOT/validation-api.jar</string>
        <string>$JAVAROOT/xml-apis.jar</string>
        <string>$JAVAROOT/xSocket.jar</string>
        <string>$JAVAROOT/jmcServerDaemon</string>
        <string>$JAVAROOT/libCoreVideoSupport.jnilib</string>
        <string>$JAVAROOT/</string>
        <string>/Applications/all.com.app/Contents/Resources//</string>
      </array>
      <key>VMOptions</key>
      <string>-d32 -Xms128mm -Xmx1024mm -classpath $JAVAROOT -Djava.library.path=/Applications/all.com.app/Contents/Resources/mozilla:/Applications/all.com.app/Contents/Resources/Java</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string><key>JVMArchs</key><array><string>i386</string></array><key>LSArchitecturePriority</key><array><string>i386</string><string>ppc</string><string>x86_64</string></array>
    </dict>
  </dict>
</plist>
